.uploadBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 270px;
  background: #592a4b;
  border: 2px #ffffff;
  border-radius: 4px;
  color: #d0d0d0;
  font-weight: light;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 150%;
  cursor: pointer;
}

@media (max-width: 700px) {
  .uploadBox {
    width: 460px;
    height: 355px;
    margin-top: 76px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
