.galleryContainer {
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.title {
  margin: auto;
  width: 420px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.titleDescription {
  margin: auto;
  width: 530px;
  height: 135px;
  font-size: 20px;
  font-weight: 400;
}

.uploadSection {
  display: flex;
  align-items: center;
  background: #422038;
  width: 670px;
  height: 240px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 225px;
  margin: 10px;
  background: #592a4b;
  border: 2px #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}

.controls {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
}

input[type="range"] {
  width: 290px;
  appearance: none;
  background: #a64d79;
  height: 8px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #3b1c32;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #3b1c32;
  border-radius: 50%;
  cursor: pointer;
}

.description {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.titleControls {
  display: flex;
  justify-content: flex-start;
  font-size: 16;
  font-weight: 300;
}

.processButton {
  background: #a64d79;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  margin: auto;
}
.titlePhotosContainer {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
}
.photosContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 670px;
  height: 165px;
  background-color: #422038;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
